<header class="d-flex justify-content-between align-items-center py-3 px-5 shadow bg-dark"
    *ngIf="authService.loggedIn()">
    <a routerLink="/home" class="d-flex flex-wrap align-items-center text-decoration-none text-white">
        <img src="assets/imgs/taskly-logo.png" alt="Taskly Logo" height="60">
        <h1 class="m-0 mx-3">Taskly</h1>
    </a>
    <div class="d-flex gap-5 text-white">
        <i class="bi bi-calendar2-event" routerLink="/home"></i>
        <i class="bi bi-people" routerLink="/contacts"></i>
        <i class="bi bi-box-arrow-right" (click)="authService.logOut()"></i>
    </div>
</header>